body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Tampilan default untuk layar besar (laptop dan di atasnya) */
@media screen and (min-width: 1024px) {
    /*ga tau nambahi apa*/
}

/* Tampilan untuk tablet (ukuran layar sekitar 768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
   /*ga tau nambahi apa*/
}

/* Tampilan untuk smartphone (ukuran layar kurang dari 768px) */
@media screen and (max-width: 767px) {
    /* Navbar */
    nav ul {
        flex-direction: row; /*navigasi horizontal */
        justify-content: space-around;
        padding: 0;
    }

    nav li {
        margin: 0;
        text-align: center;
    }

    /* Grid Section */
    .grid-section {
        padding: 30px 0;
    }

    #profile img{
        width: 200px;
        height: 200px;
    }

    /* Portfolio Grid */
    .portfolio-grid {
        flex-direction: column; /*Menampilkan gambar secara horizontal*/
        flex-wrap: wrap; /* Mengizinkan pembebasan ke baris berikutnya jika perlu */
        background-color: aqua;
    }

    .portfolio-item {
        flex: 0 0 calc(33.33% - 20px); /* Lebar foto 33.33% dari lebar parent dengan margin antara elemen */
        margin: 10px;
    }
}


/* Header dan Navigasi */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    margin: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main Section */
main {
    max-width: 1300px;
    margin: 20px auto;
    padding: 10px;
    /* background-color: #fff; */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-section {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}



.grid-section h2 {
    margin-bottom: 20px;
}

/* Portfolio Grid */
/* Tambahkan aturan berikut ke dalam CSS Anda */

/* .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dua kolom dengan lebar yang sama */
    gap: 20px; /* Jarak antara elemen-elemen */
} */

.portfolio-item {
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.portfolio-item img {
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-text {
    font-size: 14px;
    margin-top: 10px;
}

#profile img{
    width: 60%;
    /* height: 350px; */
    transition: transform 0.3s ease;
    border-radius: 10px;
}

#profile h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#profile h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#profile p {
    font-weight: bold;
}

#contact .contact-grid {
    display: flex; /* Mengatur tampilan elemen-elemen dalam satu kolom */
    flex-direction: column; /* Menyusun elemen-elemen menjadi satu kolom */
    align-items: center; /* Pusatkan elemen-elemen secara horizontal */
}

.contact-item {
    text-align: center;
    padding: 10px;
    margin: 5px 0; /* Berikan jarak antara elemen-elemen */
}

.contact-item i {
    font-size: 24px;
    color: #000;
}

.contact-item p {
    margin: 5px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
